{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "security",
    "@typescript-eslint"
  ],
  "env": {
    "node": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    // Allows for the parsing of modern ECMAScript features
    "sourceType": "module"
    // Allows for the use of imports
  },
  "ignorePatterns": [
    "./node_modules/*"
  ],
  "extends": [
    "prettier",
    "eslint:recommended"
  ],
  "rules": {
    "prettier/prettier": 2,
    "no-error-on-unmatched-pattern": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-return-await": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": [
      "error"
    ]
  }
}
